/* .top-nav {
    font-size: .9em;
} */

.top-nav a {
    color: inherit!important;
    text-decoration: none!important;
}

.top-nav a:hover {
    text-decoration: underline!important;
}
 

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.pagination.info {
    font-size: .85em;
}

.small-text {
    font-size: 0.85rem;
}

.table-items {
    border: 1px solid #ccc;
}

.product-item__container .product-item__brands {
    display: block;
    font-size: 1.4rem;
    color: #423a3a;
}

.product-item__container .product-item__name {
    display: block;
    font-size: 1.12rem;
    font-weight: normal;
    color: #423a3a;
}

.product-item__container .product-item__info {
    display: block;    
}

.no-decoration {
    text-decoration: none!important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-info .brand {font-size: 1.4rem;font-weight: bold;}

.product-info .name {
    font-size: 1.12rem;
    padding: 4px 0;
}

.product-info .info > span:first-child{
    border-right: 1px solid #888;
    padding-right: 6px;
}

.product-info .description {
    
}

.product-info .product-info {
    
}

.product-info .ingredients {
    
}